@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Kaushan+Script');

:root {
font-family: 'Kaushan Script', cursive;
}

.header-about-us {
    text-align: center;
    font-size: 3.5rem;
    margin: 0;
    padding: 20px;
}

.text {
    font-family: 'Kaushan Script', cursive;
    margin: 0;
    font-size: 1.8rem;
    text-align: center;
}
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }

